@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* Nav Section Starts */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
}
.nav_item a {
  text-decoration: none;
  color: #605f5e;
  font-size: 18px;
  font-weight: 600;
}
.nav_item a:hover {
  color: #f15b22;
}
.nav_item {
  display: flex;
  gap: 40px;
}
.logo h5 {
  font-size: 40px;
  color: #f15b22;
}
/* Nav Section Ends */

/* Banner Section */
.banner_container {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  height: 100vh;
}

.banner_content {
  text-align: right;
  padding: 55px 150px;
}
.banner_heading {
  color: #151414;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
}
.title_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin: 30px 0;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #f15b22;
  border-radius: 5px;
  border: none;
  padding: 16px 22px;
}
/* Banner Section End

/* my failures section */
.my_failures_section {
  display: flex;
  gap: 100px;
  padding: 95px 120px;
  align-items: center;
  justify-content: center;
}
.image_section img {
  margin-left: 80px;
}
.section_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
.list_items li {
  list-style: none;
  margin-bottom: 10px;
}
.list_items .fa-check {
  color: #16d887;
  margin-right: 15px;
}
.btn-purple {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #7246f0;
  border-radius: 5px;
  border: none;
  padding: 15px 28px;
  margin: 30px 0;
}
/* my failures section ends */

/* My Plans section */
.plans_container {
  text-align: center;
}

.my_plans_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 95px 160px;
}
.plans_section_title {
  font-weight: 700;
  font-size: 26px;
  color: #151414;
  padding: 20px 0;
}
.plans_description {
  font-weight: 600;
  font-size: 22px;
  color: #908f8f;
}

/* My Plans section ends */

/* Call to Action */
.call_to_action {
  width: 1140px;
  height: 300px;
  margin: 30px auto;
  border-radius: 8px;
  background-image: url(../images/gradient2.png), url(../images/watch.png);
  background-repeat: no-repeat;
}

.btn-secondary {
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding: 15px 28px;
  margin: 30px 0;
}

.cta_container {
  padding: 55px;
  color: #fff;
}
/* Call to Action Ends */

/* Footer section */

.footer_container {
  background-color: #151414;
  height: 570px;
  margin-top: 100px;
}
.footer_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  color: #fff;
  padding: 100px 0;
}

.footer_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 20px 0;
}
.footer_left img {
  margin-right: 10px;
  height: 40px;
}

.footer_right input {
  width: 250px;
  padding: 20px;
  margin: 30px 0;
  display: block;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
}
::placeholder {
  color: rgb(233, 233, 233);
  font-size: 18px;
}
input:focus {
  outline: none;
}
.copy {
  text-align: center;
  color: #fff;
}
/* Footer section ends */
